version: "3.7"

x-logging: &logging
        logging:
                driver: "json-file"
                options:
                        max-file: "10"
                        max-size: "100m"

services:
        geth:
                container_name: geth
                image: ethereum/client-go:v1.9.14
                restart: always
                hostname: geth
                command: --goerli --rpc --rpcport=8545 --rpcaddr=0.0.0.0 --ws --wsaddr=0.0.0.0 --wsport=8546 --wsorigins="*" --rpcvhosts="*"
                ports:
                        - 30303:30303/tcp
                        - 30303:30303/udp
                volumes:
                        - ./geth:/root/.ethereum
                <<: *logging
        beacon:
                container_name: beacon-chain
                image: gcr.io/prysmaticlabs/prysm/beacon-chain:${PRYSM_DOCKER_TAG}
                restart: always
                hostname: beacon-chain
                depends_on:
                        - geth
                command: --config-file=/config/beacon.yaml
                ports:
                        - 13000:13000
                        - 12000:12000
                volumes:
                        - ./config/beacon.yaml:/config/beacon.yaml:ro
                        - ./config/tls/beacon.crt:/config/tls/beacon.crt:ro
                        - ./config/tls/beacon.key:/config/tls/beacon.key:ro
                        - ./beacon:/data
                <<: *logging
        validator:
                container_name: validator
                image: gcr.io/prysmaticlabs/prysm/validator:${PRYSM_DOCKER_TAG}
                restart: on-failure
                hostname: validator
                depends_on:
                        - beacon
                command: --config-file=/config/validator.yaml
                volumes:
                        - ./config/validator.yaml:/config/validator.yaml:ro
                        - ./config/tls/beacon.crt:/config/tls/beacon.crt:ro
                        - ./validator:/data
                <<: *logging
        slasher:
                container_name: slasher
                image: gcr.io/prysmaticlabs/prysm/slasher:${PRYSM_DOCKER_TAG}
                restart: always
                hostname: slasher
                depends_on:
                        - beacon
                command: --config-file=/config/slasher.yaml
                volumes:
                        - ./config/slasher.yaml:/config/slasher.yaml:ro
                        - ./config/tls/beacon.crt:/config/tls/beacon.crt:ro
                        - ./slasher:/data
                <<: *logging
        prometheus:
                container_name: prometheus
                image: prom/prometheus
                restart: on-failure
                hostname: prometheus
                command: --storage.tsdb.retention.time=31d --config.file=/etc/prometheus/prometheus.yml
                ports:
                        - 127.0.0.1:9090:9090
                volumes:
                        - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
                <<: *logging
        grafana:
                container_name: grafana
                image: grafana/grafana:7.0.0
                restart: on-failure
                hostname: grafana
                depends_on:
                        - prometheus
                ports:
                        - 127.0.0.1:3000:3000
                volumes:
                        - ./grafana/provisioning:/etc/grafana/provisioning
                <<: *logging

